body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  text-align: center;
  background-color: lightslategrey;
  font-size: 2.2em;
  border: 1px solid;
}

.description-box {
  text-align: center;
  background-color: grey;
  height: 50px;
  background-size: cover;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-top: 5px;
}

#main-box {
  background-color: slategray;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

#main-box #image-block {
  position: relative;
  background-image: url("background.jpg");
  background-size: cover;
  width: 800px;
  height: 640px;
  margin-top: 50px;
  margin: auto;
  overflow: hidden;
}

#image-block #form-block {
  position: relative;
  width: 40%;
  height: 40%;
  margin: auto;
  background: grey;
  margin-top: 200px;
}

.input-forms {
  width: 25%;
  height: 40px;
}

.formButton {
  width: 25%;
  height: 40px;
  background-color: black;
  color: white;
}
